<%- include ('./partials/navbar.ejs') %>

<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">

            <div class="row  mb-5 mt-5">
                <div class="col-4 offset-4 head-container">
                    <h3 class="text-center text-primary"><i class="fa fa-address-book"></i>&nbsp; Contact List</h3>
                </div>
                <div class="col-4">
                    <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1"
                        href="#accordion-1 .item-1" class="new-contact-btn btn btn-primary" role="tab">
                        <h4 class="mb-0"><i class="fa fa-plus"></i></h4>
                    </a>
                </div>
            </div>


            <div role="tablist" id="accordion-1">
                <div class="card">

                    <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <form method="POST" action="/addContact" id='contact-form'>
                                <input type="hidden" name="async" value="false">
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <label for="contact-name">Name</label>

                                        <input id="contact-name" class="form-control" type="text" name="name" required>

                                    </div>
                                    <div class="col-6  mb-3">
                                        <label for="contact-number">Number</label>
                                        <input id="contact-number" class="form-control" type="text" name="number"
                                            required>

                                    </div>

                                    <div class="col-6">
                                        <label for="contact-email">Email</label>
                                        <input id="contact-email" class="form-control mb-3" type="email" name="email" required>

                                    </div>
                                  
                                    <div class="col-6">
                                        <label for="contact-company">Company</label>
                                        <input id="contact-company" class="form-control mb-3" type="text" 
                                            name="company" required>



                                    </div>

                                    <div class="col-12">
                                        <label for="contact-group">Group</label>
                                        <input id="contact-group" class="form-control mb-3" type="text"  name="group" required>
                                    </div>
                                </div>

                                <div class="col-12 mt-4">

                                    <div class="form-group text-center">
                                        <button class="btn btn-primary" type="submit"><i
                                                class="fas fa-plus"></i>&nbsp;Add Contact</button>
                                    </div>
                                </div>
                        </div>

                        <!-- <div class="form-group flex-grow-1 mr-3">
                                                    <select name="position" class="form-control">
                                                        <optgroup label="Position">
                                                            <option value="Student" selected="">Student</option>
                                                            <option value="Employee">Employee</option>
                                                            <option value="Client">Client</option></optgroup>
                                                        </select>
                                                    </div> -->

                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body parentContainer">
                <div class="row">
                    <div class="col-md-2 d-flex">
                        <form class="all" action="/contactsFilter" method="post">
                            <input type="hidden" name="limit" value="0">
                            <button type="submit" class="btn btn-primary btn-sm">Contacts</button>
                        </form>
                        <!-- <form id="group" action="/contactsFilter" method="post">
                            <input type="hidden" name="limit" value="0">
                            <button type="submit"  class="btn btn-primary btn-sm">Groups</button>
                        </form> -->
                    </div>

                    <div class="col-md-8">
                        <div class="text-md-right">
                            <form action="/searchContacts" method="POST" class="d-flex search">
                                <input type="search" name="term" class="form-control form-control-sm"
                                    aria-controls="dataTable" placeholder="Search">
                                <button class="btn btn-primary d-inline py-0" type="submit"><i
                                        class="fas fa-search"></i></button>


                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 text-nowrap d-flex justify-content-end">
                        <div aria-controls="dataTable">
                            <select class="filterAmount form-control form-control-sm custom-select custom-select-sm">
                                <option value="10">10</option>
                                <option value="25" selected="">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select></div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <nav class="d-lg-flex align-self-center">
                            <ul class="pagination">
                                <% for( let i = 0; i < contacts.total/25; i++ ) { %>
                                <% if (i == 0) { %>
                                <li class="page-item active"><a class="page-link" href="#"><%= i + 1 %> </a></li>
                                <% } else { %>
                                <li class="page-item "><a class="page-link" href="#"><%= i + 1 %> </a></li>
                                <% } %>

                                <% } %>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 mt-4 d-flex flex-row-reverse">
                        <p role="status" aria-live="polite"><span class="lower">1</span> to
                            <span class="upper"><%=contacts.total<25?contacts.total:25%></span> of <span
                                class="total"><%= contacts.total %> </span></p>
                    </div>


                    <div class="table-responsive table mt-4" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th class="w-10">Group <a id="group-sort" class="col-sort" href=""><i
                                                class="fa fa-sort"></i></a></th>
                                    <th class="w-20">Name <a id="name-sort" class="col-sort" href=""><i
                                                class="fa fa-sort"></i></a></th>
                                    <th class="w-20">Company <a id="company-sort" class="col-sort" href=""><i
                                                class="fa fa-sort"></i></a></th>
                                    <th class="w-10">Number <a id="number-sort" class="col-sort" href=""><i
                                                class="fa fa-sort"></i></a></th>
                                    <th class="w-30">Email <a id="email-sort" class="col-sort" href=""><i
                                                class="fa fa-sort"></i></a></th>
                                    <th class="w-10">Opt-In <a id="optin-sort" class="col-sort" href=""><i
                                                class="fa fa-sort"></i></a></th>
                                </tr>
                            </thead>


                            <tbody>

                                <% if (contacts && contacts.data) { %>
                                <% for( let index = 0; index < contacts.data.length; index++ ) { %>
                                <tr class="editRow">
                                    <td><%= contacts.data[index].group %> </td>
                                    <td><%= contacts.data[index].name %> </td>
                                    <td><%= contacts.data[index].company %> </td>
                                    <td><%= contacts.data[index].number %> </td>
                                    <td style="width: 20%"><%= contacts.data[index].email %> </td>
                                    <td><input type="checkbox" name="optIn" id=""
                                            <%= contacts.data[index].optIn ? 'checked disabled' : '' %> readonly>
                                    </td>
                                    <td class="editDelete">
                                        <div class="dropdown">

                                            <i class="fa fa-ellipsis-v " type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown"></i>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="left dropdown-item" href="/editContact"><i
                                                        class="fa fa-edit"></i> Edit</a>
                                                <form action="/deleteContact" method="post" class="right dropdown-item">
                                                    <input type="hidden" name="_id"
                                                        value="<%= contacts.data[index]._id %>">
                                                    <input type="hidden" name="async" value="false">
                                                    <a type="submit"><i class="fa fa-trash"> Delete</i></a>
                                                </form>

                                            </div>
                                        </div>
                                        <!-- <i class="fa fa-ellipsis-v" aria-hidden="true"></i> -->
                                        <!-- 
                                        <a class="left btn btn-primary" href="/editContact"><i
                                                class="fa fa-edit"></i></a>

                                        <form action="/deleteContact" method="post" class="right">
                                            <input type="hidden" name="_id" value="<%= contacts.data[index]._id %>">
                                            <input type="hidden" name="async" value="false">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="fa fa-trash"></i></button>
                                        </form> -->

                                    </td>
                                </tr>
                                <% } %>
                                <% } %>
                            </tbody>
                            <!-- <tfoot>
                                <tr>
                                    <th class="w-10">Group</th>
                                    <th class="w-20">Name </th>
                                    <th class="w-20">Company </th>
                                    <th class="w-10">Number </th>
                                    <th class="w-30">Email </th>
                                    <th class="w-10">Opt-In </th>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>



                </div>
            </div>
        </div>

        <%- include ('./partials/footer.ejs') %>