<%- include ('./partials/navbar.ejs') %>

<div class="d-flex flex-column" id="content-wrapper">
    <div class="d-flex align-items-center" id="content">

        <div class="container-fluid">
            <div class="row mb-5 mt-5">
                <div class="col-4 offset-4 head-container">
                    <h2 class="text-center text-danger"><i class="fa fa-envelope"></i>&nbsp; Send SMS</h2>
                </div>
            </div>



            <div class="row d-flex">
                <!-- <div class="col-12">
                            <main>
                            <p>Separate your tags with a comma</p>
                            <div class="tags-input"></div>
                            <h1><span>Tags</span> Input</h1>
                          </main></div> -->
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="mb-4 text-danger"><i class="fa fa-envelope"></i>&nbsp; Message</h4>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <div id="numbers-input" class="tags-input"></div>
                            </div>
                            <div class="form-group">
                                <textarea id="msg" class="form-control" placeholder=" Body:" rows="7" spellcheck="true"
                                    style="border-radius: 20px;font-size: 14px;" required></textarea>
                            </div>
                            <div class="form-group" role="tablist" id="confirm-dropdown">
                                <a data-toggle="collapse" aria-expanded="false"
                                    aria-controls="confirm-dropdown .confirm" href="#confirm-dropdown .confirm"
                                    class=" btn-block text-white btn-user btn-danger btn btn-primary" role="tab">
                                    <h5 class="mb-0"><i class="far fa-paper-plane"></i>&nbsp;Send</h5>
                                </a>
                                <div class="collapse confirm" role="tabpanel" data-parent="#confirm-dropdown">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 mt-4 text-center">
                                                <h5>Are you sure?</h5>
                                            </div>
                                            <div class="col-4 offset-2">
                                                <a id="send"
                                                    class=" btn-block text-white btn-user btn-danger btn btn-primary"
                                                    data-toggle="collapse" aria-expanded="false"
                                                    aria-controls="confirm-dropdown .confirm"
                                                    href="#confirm-dropdown .confirm"><i
                                                        class="fa fa-check"></i>&nbsp;YES</a>
                                            </div>
                                            <div class="col-4">
                                                <a class=" btn-block btn-secondary btn btn-user" data-toggle="collapse"
                                                    aria-expanded="false" aria-controls="confirm-dropdown .confirm"
                                                    href="#confirm-dropdown .confirm"><i
                                                        class="fa fa-times"></i>&nbsp;NO</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <hr>
                            <div class="response text-primary">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 filterContainer">
                    <div class="p-5 text-primary">

                        <div class="row mb-3">
                            <div class="col-6 offset-3 text-center">
                                <h4>
                                    <span class="toggle-title"><i class="fa fa-address-book"></i> Contacts</span>
                                </h4>
                            </div>
                            <div class="col-3 mb-2"><button class="btn btn-sm btn-primary ml-3 toggle-btn">Groups</button>
                                </div>
                        </div>
                      
                            <!-- <h2><i class="fa fa-address-book"></i></h2> -->
                         
                        
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <div class="row ">
                                    <div class="col-2">
                                        <button class="btn btn-sm btn-primary add-all">Add All</button>
                                    </div>
                                    <div class="col-10 mb-2">
                                        <form action="/searchContacts" method="POST" class="d-flex search"">
                                             
                                            <input type="search" name="term" class="form-control form-control-sm"
                                            aria-controls="dataTable" placeholder="Search">
                                            <button class="btn btn-primary d-inline py-0" type="submit"><i
                                                    class="fas fa-search"></i></button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <table class="table dataTable my-0 customScroll "
                                style="height: 350px;overflow: auto;display: block;">

                                <thead>
                                    <tr>
                                        <th class="w-10 add-col" style="padding-left: 40px;">Add </th>
                                        <th class="w-30">Name <a id="name-sort" class="col-sort" href=""><i
                                                    class="fa fa-sort"></i></a></th>

                                        <th class="w-10">Number <a id="number-sort" class="col-sort" href=""><i
                                                    class="fa fa-sort"></i></a></th>


                                    </tr>
                                </thead>
                                <tbody id="contact-list" class="filterBody" style=" overflow-y: scroll;height: 350px; ">

                                    <% if (typeof contacts != 'undefined') { %>
                                    <% for( let index = 0; index < contacts.length; index++ ) { %>

                                    <tr>
                                        <td style="padding-left: 45px;">
                                            <div class="form-check">
                                                <input class="form-check-input position-static" type="checkbox"
                                                    name="<%= contacts[index].name %>" data-number="<%= contacts[index].number %>">
                                            </div>
                                        </td>
                                        <td><%= contacts[index].name %></td>
                                        <!-- <td><%= contacts[index].company %></td> -->
                                        <td><%= contacts[index].number %></td>

                                    </tr>

                                    <% } %>
                                    <% } %>

                                </tbody>
                                <!-- <tfoot>
                                    <tr>

                                        <th class="w-10" style="padding-left: 40px;">Add </th>
                                        <th class="w-30">Name</th>

                                        <th class="w-10">Number</th>

                                    </tr>
                                </tfoot> -->
                            </table>
                            <!-- <ul id="contact-list" class="list-group list-group-flush customScroll filterBody"
                                style="overflow-y: scroll;height: 350px;">
                                <% if (typeof contacts != 'undefined') { %>
                                <% for( let index = 0; index < contacts.length; index++ ) { %>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-1 text-right">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox"
                                                    id="<%=contacts[index].number %>">
                                                <label class="custom-control-label"
                                                    for="<%= contacts[index].number %>"></label>
                                            </div>
                                        </div>
                                        <div class="col text-right mr-2">
                                            <h6 class="mb-0"><strong><%= contacts[index].name %> </strong></h6>
                                            <span class="text-xs"><%= contacts[index].number %></span>
                                        </div>
                                    </div>
                                </li>

                                <% } %>
                                <% } %>

                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('./partials/footer.ejs') %>